/* main content */

.title {
    position: fixed;
    width: 100%;
    pointer-events: none;
}

.title h1 {
    margin: 20px;
    display: inline-block;
    padding: 5px 9px;
    border-radius: 10px;
    pointer-events: auto;
    font-size: clamp(1.2rem, 7vw, 2rem);
}

header {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 7rem;
    gap: min(5%, 15rem);
}

header img {
    width: 9rem;
    z-index: 2;
}

header h1 {
    /* color: #5098dc; */
    font-size: min(7vw, 3.5rem);
    
}

header .make {
    border-radius: 4px;
    background-color: #125ba0;
    width: min(18%, 120px);
    padding: 4px;
    font-size: 15px;
    cursor: pointer;
    z-index: 2;
    color: red;
    font-size: min(3.3vw, 1.7rem);
    transition: background-color 0.1s ease, color 0.1s ease;
}

header .make:active {
    background-color: #0d4375;
    color: maroon;
}

main {
    display: flex;
    flex-flow: column nowrap;
    font-size: 2rem;
}

.block {
    min-height: 500px;
}

.container {
    width: 95%;
    max-width: 80rem;
    margin: 0 auto;
}

.tan {
    background-color: antiquewhite;
}

.green {
    background-color: #6cc58e;
}

.blue {
    background-color: #5098dc;
}

.white {
    background-color: #ffffff;
}

dialog {
    outline: none;
    border: none;
    position: relative;
    padding: 30px 10px;
    width: min(77%, 30rem);
    border-radius: 10px;
    min-height: 400px;
    margin: auto;
}

dialog[open] {
    display: flex;
    flex-flow: column nowrap;

}

dialog::backdrop {
    background-color: #00000033;
    backdrop-filter: blur(2px); 
}

dialog form {
    margin: 30px 0;
    font-size: x-large;
}

.exit {
    display: inline-block;
    cursor: pointer;
    font-size: 30px;   
    color: #333333;
    position: absolute;
    top: 0;
    right: 8px;
}

.exit::before {
    content: "\00d7";
}

input[type="email"] {
    padding: 4px;
    font-size: 15px;
    width: min(90%, 400px);
}

input[type="submit"] {
    margin-top: 20px;
    padding: 4px;
    font-size: 20px;
    border: black solid 2px;
    border-radius: 8px;
}

#check {
    margin: auto;
}

dialog h2 {
    font-size: 20px;
}

dialog .end {
    margin-top: auto;
}