/* profile.css - used on the public profile page */

/* Header */

header {
    position: absolute;
    top: 0;
    left: 0;
}

header img {
    width: 100px;
}

/* Cards */

.user-card h1 {
    font-size: min(7vw, var(--font-md));
}

#user-photo {
    width: min(80%, 30rem);
    border: 2px solid var(--color-accent-dark);
    border-radius: var(--radius-md);
    margin: 10px auto;
    display: block;
    
    aspect-ratio: 1/1;
    object-fit: cover;
}

.user-card h2 {
    font-size: min(13vw, var(--font-lg));
}

/* Footer */

footer {
    padding: 10px 0;
    border-top: 2px dashed blue;
}

footer a,
footer a:link,
footer a:visited {
    color: blue;
}