/* main content */

header {
    position: absolute;
    /* background-color: red; */
    top: 0;
    left: 0;
}

header img {
    width: 100px;
}

.userCard, .historyCard {
    width: min(90%, 500px);
    background-color: antiquewhite;
    margin: 20px auto;
    border: black solid 3px;
    padding: 20px 40px;
}

.historyCard {
    height: 700px;
}

.userCard img{
    border: #00539F solid 1px;
    border-radius: 10px;
    width: min(40%,300px);
    margin: 10px auto;
    display: block;
    
}

.historyCard ul {
    text-align: left;
}

footer {
    padding: 10px 0;
    border-top: blue dashed 2px;
}

footer a, 
footer a:link, 
footer a:visited {
    color: blue;
}