* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #5098dc;
    font-size: 62.5%; 
    overflow-x: hidden;
}

body {
    text-align: center;
    overflow-x: hidden;
}

a, 
a:link, 
a:visited, 
a:hover, 
a:active {
    text-decoration: none;
    color: inherit;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block; 
}

/* google fonts */

.work-sans-title, h1, .toptitle {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 630;
  font-style: normal;
}

.work-sans-miniTitle, h2, h3, h4, h5, h6 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

/* top stuff */

.toptitle {
    font-size: 3.2rem;
}

.invisible {
    visibility: hidden;
}

.inline {
    display: inline;
}